body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: hsl(0, 0%, 90%);
}

#myH1{
    font-size: 4rem;
    font-family: "Arial", sans-serif;
    color: hsl(0, 0%, 25%);
}

#container{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 5px solid;
    padding: 30px;
    border-radius: 50px;
    background-color: hsl(0, 0%, 100%);
}

#display{
    font-size: 5rem;
    font-family: monospace;
    font-weight: bold;
    color: hsl(0, 0%, 30%);
    text-shadow: 2px 2px 2px hsl(0, 0%, 80%);
}

#controls button{
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px 20px;
    margin: 5px;
    min-width: 125px;
    border:none;
    border-radius: 10px;
    cursor:pointer;
    color: white;
    transition: background-color 0.5s ease;
}

#startBtn{
    background-color: hsl(120, 100%, 30%);
}

#startBtn:hover{
    background-color: hsl(120, 100%, 50%);
}

#stopBtn{
    background-color: hsl(10, 100%, 50%);
}

#stopBtn:hover{
    background-color: hsl(10, 100%, 40%);
}

#resetBtn{
    background-color: hsl(205, 90%, 60%);
}

#resetBtn:hover{
    background-color: hsl(205, 90%, 50%);
}